:root {
    --main-color: hsl(300, 43%, 22%);
    --text-color: hsl(303, 10%, 53%);
    --light-background:  hsl(300, 24%, 96%);
}

body {
    margin: 0px;
    font-family: 'Spartan', sans-serif;
    font-size: 1rem;
    padding: 4em 2em;
    background-color: hsl(0, 0%, 100%);
}

.title {
    font-size: 1.7rem;
    color: var(--main-color);
    margin: 0rem 1.5rem 1rem;
    line-height: 1;
    font-weight: 700;
    text-align: center;
}

.introduction {
    color: var(--text-color);
    font-size: .8rem;
    line-height: 1.7;
    text-align: center;
    margin: 0px;
    margin-bottom: 2rem;
    font-weight: 500;
}

.rating {
    margin-bottom: 2rem;
}

.rating__container {
    background-color: var(--light-background);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0.8rem;
}

.rating__stars {
    margin-bottom: 0.5rem;
    line-height: 0px;
}
.rating__stars img {
    margin-right: 0.25rem;
}
.rating__stars img:last-child {
    margin-right: 0px;
}
.rating__text {
    font-weight: 700;
    font-size: .8rem;
    color: var(--main-color);
}

.testimony {
    margin-bottom: 2rem;
}

.testimony__container {
    background-color: var(--main-color);
    padding: 2.5rem 1.7rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}
.testimony__head {
    display: flex;
    margin-bottom: 1.3rem;
    align-items: center;
}

.testimony__pic img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 1.5rem;
}

.testimony__name-container h4{
    margin: 0px;
    margin-bottom: 0.3rem;
    font-size: 0.7rem;
    font-weight: 700; 
    color: hsl(0, 0%, 100%);   
}

.testimony__name-container h5{
    margin: 0px; 
    font-size: 0.7rem;
    font-weight: 400; 
    color: hsl(333, 80%, 67%);  
}

.testimony__body {
   margin: 0px; 
   font-size: 0.7rem;
   font-weight: 500;
   color: hsl(300, 24%, 96%);
   line-height: 1.7;
}

.attribution {
    font-size: 0.9rem;
    color: var(--main-color);
}

.attribution a {
    text-decoration: underline;
    color: var(--main-color);
    font-weight: 500;
}

/* Styles for desktop */

@media only screen and (min-width: 480px) {
    
    body {
        padding: 7rem 8.5rem 1rem;
        display: flex;
        flex-wrap: wrap;
    }
    
    .upper-section {
        margin-bottom: 4rem;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .title-intro {
        margin-right: 10rem;
        max-width: 25rem;
    }

    .rating {
        margin-bottom: 0%;
    }

    .title {
        font-size: 2.5rem;
        text-align: left;
        padding-right: 4rem;
        margin: 0px;
        margin-bottom: 0.5rem;
    }

    .introduction {
        text-align: left;
        margin-bottom: 0%;
    }

    .rating__container {
        padding-left: 2rem;
        flex-direction: row;
        justify-content: left;
        align-items: flex-start;
        width: 24rem;
    }

    .rating__container:nth-child(2) {
        margin-left: 3rem;
    }
    
    .rating__container:nth-child(3) {
        margin-left: 6rem;
    }

    .rating__stars {
        margin: 0px;
        margin-right: 2rem;
    }

    .testimony {
       display: flex;
       margin-bottom: 1.5rem; 
    }

    .testimony__container {
        height: 9rem;
    }

    .testimony__container:nth-child(2) {
        margin-left: 1.5rem;
        margin-top: 1rem;
    }

    .testimony__container:nth-child(3) {
        margin-left: 1.5rem;
        margin-top: 2rem;
    }
}
